[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "scripts/sp"]
	path = scripts/sp
	url = https://gitlab.com/CodeGremlin/sp
[submodule "scripts/extract"]
	path = scripts/extract
	url = https://gitlab.com/CodeGremlin/extract
[submodule "dotbot-omnipkg"]
	path = dotbot-omnipkg
	url = https://gitlab.com/CodeGremlin/dotbot-omnipkg.git
[submodule "backgrounds"]
	path = backgrounds
	url = https://gitlab.com/codegremlin/backgrounds.git
[submodule "scripts/roll"]
	path = scripts/roll
	url = https://gitlab.com/CodeGremlin/roll
