[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "scripts/sp"]
	path = scripts/sp
	url = https://github.com/code-maniac/sp
[submodule "scripts/extract"]
	path = scripts/extract
	url = https://github.com/code-maniac/extract
[submodule "dotbot-omnipkg"]
	path = dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg.git
[submodule "backgrounds"]
	path = backgrounds
	url = https://github.com/code-maniac/backgrounds
[submodule "scripts/roll"]
	path = scripts/roll
	url = https://github.com/code-maniac/roll
[submodule "scripts/gitignore"]
	path = scripts/gitignore
	url = https://github.com/code-maniac/gitignore
[submodule "jetbrainsmono"]
	path = jetbrainsmono
	url = https://github.com/JetBrains/JetBrainsMono
[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "scripts/bar"]
	path = scripts/bar
	url = https://github.com/code-maniac/bar
[submodule "scripts/svn-vimdiff"]
	path = scripts/svn-vimdiff
	url = https://github.com/code-maniac/svn-vimdiff
[submodule "scripts/findr"]
	path = scripts/findr
	url = https://github.com/code-maniac/findr
[submodule "scripts/plate"]
	path = scripts/plate
	url = https://github.com/code-maniac/plate
[submodule "vim/astronvim"]
	path = vim/astronvim
	url = https://github.com/astronvim/astronvim
